/* Quiz Title */
.quiz-title {
  height: 40vh;
  background-color: royalblue;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.quiz-title h2 {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 600;
  color: white;
  text-align: center;
}

/* Quiz Container */
.quiz-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px auto;
}

/* Quiz List */
.quiz-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px;
  gap: 15px; /* Optionlar orasidagi bo'shliqni kattalashtirish */
  width: 100%;
}

.quiz-list li {
  width: 100%;
}

/* Option Buttons */
.option-button {
  width: 100%;
  padding: 20px;
  background-color: #f1f1f1;
  color: #333333;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  height: 12dvh;
  border: 2px solid transparent;
  border-radius: 12px; /* Dumaloq burchaklar */
  transition: background-color 0.3s, color 0.3s, border-color 0.3s,
    transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Kichik soya effekti */
}

/* .option-button:hover {
    background-color: #E0E0E0;
    border-color: #C0C0C0;
    transform: translateY(-3px); /* Hover paytida biroz yuqoriga ko'tariladi 
  } */

.option-button.active {
  background-color: royalblue;
  color: white;
  border-color: royalblue;
  transform: scale(1.05); /* Tanlanganida biroz kattalashadi */
}

/* Quiz Buttons (Next/Previous) */
.quiz-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.quiz-btns button {
  width: 140px;
  height: 50px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.quiz-btns button:disabled {
  background-color: #d1d1d1;
  cursor: not-allowed;
}

.quiz-btns button:hover:not(:disabled) {
  background-color: darkblue;
  transform: scale(
    1.05
  ); /* Tugma bosilmagan holatda hover paytida kattalashadi */
}

@media screen and (max-width: 1100px) {
  .quiz-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .quiz-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
  }
}
